html {
  box-sizing: border-box;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  background: white url(../img/geometry2.png); /* Background pattern from Subtle Patterns */
  font-family: "Coda", cursive;
}


h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}


/*
 * Styles for the Score Panel
 */

.score-panel {
  display: inline;
  margin-bottom: 10px;
}


.stars {
  padding: 0;
  margin: 0 5px 0 0;
}


.stars li {
  list-style: none;
  display: inline-block;
}


.restart {
  cursor: pointer;
}
