html {
  box-sizing: border-box;
}


*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  background: white url(/img/geometry2.png); /* Background pattern from Subtle Patterns */
  font-family: "Coda", cursive;
}


h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}


.selectable-hover {
  cursor: pointer;
}


.unselectable-hover {
  cursor: default;
}
