@import "../base";
.card {
  &__layout {
    height: 8rem;
    width: 8rem;
    border-radius: 8px;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  }

  &__content {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 750ms;
  }

  &--face-down {
    @extend .card__layout;
    @extend .card__content;
    @extend .selectable-hover;
    background: #2e3d49;
    font-size: 0;
  }

  &--face-up {
    @extend .card__layout;
    @extend .card__content;
    @extend .unselectable-hover;
    color: white;
    font-size: 2rem;
  }

  &--picked {
    @extend .card--face-up;
    background: #02b3e4;
  }

  &--match {
    @extend .card--face-up;
    background: #02ccba;
  }

  &--mismatch {
    @extend .card--face-up;
    background: #e42f4f;
  }
}
