
.deck {
  &__wrapper {
  }

  &__layout {
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    border-radius: 0.625rem;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  }
}
